* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.screen {
  height: 100vh;
}

.container {
  background-color: #222;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 60px auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.buttons {
  grid-area: buttons;
  background-color: #c4c4c4;
}

.main-content {
  grid-area: main;
  background-color: #5a5a5a;
}
